.advantage {
  font-family: @main-font-family;
  font-style: normal;
  font-weight: normal;
}

.advantage__wrapper {
  .wrapper;
}

.advantage__title {
  font-weight: inherit;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
}

.advantage__description {
  font-family: @extra-font-family;
  font-weight: inherit;
  font-size: 14px;
  line-height: 18px;
}

.advantage__list {
  padding: 0;
  list-style: none;
}
