.case {
  font-style: normal;
  font-weight: normal;
  background-color: @special-bright-grey;

  @media (min-width: @tablet-width) {
    border-top: 1px solid @special-grey-whisper;
    background-color: @basic-white;
    background-image: linear-gradient(to bottom, white 618px, transparent 618px), linear-gradient(to right, @basic-gray 50%, @special-bright-grey 50%);
  }

  @media (min-width: @desktop-width) {
    border-top: none;
    background-image: linear-gradient(to bottom, white 208px, transparent 208px), linear-gradient(to right, @basic-gray 72%, @special-bright-grey 28%);
  }
}

.case__wrapper {
  .wrapper;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: min-content min-content min-content 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    .wrapper(54px, 110px, 74px, 110px);
  }
}

.case__title {
  font-family: @main-font-family;
  font-weight: inherit;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    grid-column: 1 e("/") -1;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 147px;
    grid-column: 1 e("/") 1;
  }
}

.case__description {
  font-family: @extra-font-family;
  font-weight: inherit;
  font-size: 14px;
  line-height: 18px;
  color: @special_darker-darkgrey;

  @media (min-width: @tablet-width) {
    grid-column: 1 e("/") -1;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 e("/") 1;
  }
}

.case__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;

  @media (min-width: @tablet-width) {
    grid-column: 1 e("/") 1;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
  }
}

.case__item {
  br {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.case__value {
  font-family: @main-font-family;
  font-weight: inherit;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
}

.case__legend {
  font-family: @extra-font-family;
  font-weight: inherit;
  font-size: 12px;
  line-height: 12px;
  color: @special_darker-darkgrey;
}

.case__total {
  font-family: @main-font-family;
  font-weight: inherit;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    grid-column: 2 e("/") -1;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 e("/") 1;
    text-align: left;
  }
}

.case__amount {
  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
    vertical-align: baseline;
  }
}

.case__slider {
  @media (min-width: @tablet-width) {
    grid-column: 1 e("/") -1;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1 e("/") -1;
    grid-column: 2 e("/") 2;
  }
}

.slider__list {
  text-align: center;
}
