.case {
  font-style: normal;
  font-weight: normal;
  background-color: @special-bright-grey;
}

.case__title {
  font-family: @main-font-family;
  font-weight: inherit;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
  padding-top: 27px;
}

.case__description {
  font-family: @extra-font-family;
  font-weight: inherit;
  font-size: 14px;
  line-height: 18px;
  color: @special_darker-darkgrey;
}

.case__list {
  list-style: none;
}

.case__value {
  font-family: @main-font-family;
  font-weight: inherit;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
}

.case__legend {
  font-family: @extra-font-family;
  font-weight: inherit;
  font-size: 12px;
  line-height: 12px;
  color: @special_darker-darkgrey;
}

.case__wrapper {
  .wrapper;
}

.case__total {
  font-family: @main-font-family;
  font-weight: inherit;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;
}
