.catalog {
  font-family: @main-font-family;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 27px;
}

.catalog__wrapper {
  .wrapper;
}

.catalog__list {
  padding: 0;
  list-style: none;
}

.catalog__item {
  background-color: @basic-gray;
  padding: 0 20px 18px 20px;
  box-sizing: content-box;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.catalog__title {
  font-weight: inherit;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @basic-black;
  padding-top: 30px;
}

.catalog__description {
  font-family: @extra-font-family;
  color: @special_darker-darkgrey;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
}

.catalog__link {
  font-weight: inherit;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic-black;
  border-top: 1px solid @special-grey85;
  padding-top: 20px;
  margin-top: auto;
  margin-bottom: 50px;
}

@media (min-width: @tablet-width) {
  .catalog__title {
    font-size: 36px;
    line-height: 36px;
  }

  .catalog__description {
    font-size: 16px;
    line-height: 24px;
  }

  .catalog__link {
    font-size: 20px;
    line-height: 30px;
    border-top: none;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    margin-top: 82px;
  }

  .catalog__wrapper {
    .wrapper(54px, 110px, 74px, 110px);
  }

  .catalog__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    box-sizing: content-box;
  }
}
