.contacts {
  font-family: @main-font-family;
  font-style: normal;
  font-weight: normal;
  background-color: @basic-gray;
  margin-top: 35px;
  padding-top: 28px;
}

.contacts--index {
  background-color: @basic-white;
}

.contacts__wrapper {
  .wrapper;
  display: flex;
  flex-direction: column;
}

.contacts__columns {
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  font-weight: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-black;
}

.contacts__address {
  font-family: @extra-font-family;
  font-style: normal;
  font-weight: inherit;
  font-size: 14px;
  line-height: 20px;
  color: @special_darker-darkgrey;
}
