.main-nav__list {
  font-family: @main-font-family;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  display: block;
  padding: 23px 20px;
  text-decoration: none;
  border-bottom: 1px solid @special-grey-whisper;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    text-decoration: underline;
    text-decoration-color: @basic-green;
    opacity: 0.3;
  }
}

.main-nav__item-link {
  color: @special-black;
}

.main-nav__list :last-child {
  border: none;
}
