.page-main {
  grid-area: content;
}

.page-main__header-wrapper {
  border-top: 1px solid @special-grey85;
  border-bottom: 1px solid @special-grey85;
  .wrapper(27px, 45px);
}

.page-main__title {
  font-family: @main-font-family;
  font-weight: inherit;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;
  display: flex;
  align-items: center;
}

.page-main__info {
  font-family: @main-font-family;
  font-weight: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-black;
}
