.page-footer {
  grid-area: footer;
}

.page-footer__wrapper {
  .wrapper;
}

.page-footer__copyright {
  font-family: @extra-font-family;
  font-weight: inherit;
  font-size: 16px;
  line-height: 18px;
}

.copyright__link {
  color: @special_darker-darkgrey;
}
