.page-main {
  grid-area: content;
}

.page-main__header-wrapper {
  border-top: 1px solid @special-grey85;
  border-bottom: 1px solid @special-grey85;
  .wrapper;

  @media (min-width: @tablet-width) {
    .wrapper(20px, 70px, 20px, 70px);
    border: none;
  }

  @media (min-width: @desktop-width) {
    .wrapper(20px, 110px, 20px, 110px);
    border: none;
  }
}

.page-main__title {
  font-family: @main-font-family;
  font-weight: inherit;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__info {
  font-family: @main-font-family;
  font-weight: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
