.profile-form {
  font-family: @main-font-family;
  font-weight: inherit;
  font-size: 16px;
  line-height: 18px;
  color: @special_darker-darkgrey;
}

.profile-form__title {
  font-family: inherit;
  font-weight: inherit;
  font-size: 24px;
  line-height: 26px;
  color: @basic-black;
}

.profile-form__fieldset {
  border: none;
  border-bottom: 1px solid @special-grey85;
}

.profile-form__cat-info {
  .wrapper;
}

.profile-form__contacts {
  .wrapper;
}

.profile-form__comment {
  .wrapper;
}

.profile-form__goal {
  .wrapper;
}

.profile-form__additional {
  .wrapper;
  border-bottom: none;
}

.profile-form__text-input::placeholder {
  font-family: @main-font-family;
  font-weight: inherit;
  font-size: 16px;
  line-height: 18px;
  color: @special_darker-darkgrey;
  text-transform: uppercase;
}

.profile-form__text-label {
  text-transform: uppercase;
}

.profile-form__radio-label {
  text-transform: uppercase;
}

.profile-form__checkbox-label {
  text-transform: uppercase;
}

.profile-form__legend {
  font-family: @extra-font-family;
  font-weight: inherit;
  font-size: 14px;
  line-height: 16px;
  color: @basic-black;
}

.profile-form__submit {
  .wrapper;
}

.profile-form__button {
  .button;
}
